@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i');

@mixin addBorder($stroke_size) {
  //border: $stroke_size solid #ccc;
  box-sizing: content-box;
}

@function calc-width-columns($count) {
  @return $column-width * $count+$gutter-width * ($count - 1); //360+100
}

$document-width: 960px;
$column-width: 60px;
$gutter-width: 20px;

$container-background : #fff;
$dark-blue: #003468;
$font-color: #666;

// Reset the padding and margins.
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-weight: 300;
  color: $font-color;
}

body {
  font-family: 'Lato', sans-serif;
}

footer {
  text-align: center;
  padding: 40px;
}

a {
  color: $dark-blue;
  font-weight: 400;
}

p {
  line-height: 1.7rem;
}

.container {
  margin: 0 auto;
  width: $document-width;
}

.button {
  font-family: inherit;
  font-weight: 400;
  display: table;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 13px 20px;
  border-radius: 100px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.title {
  font-size: 5rem;
  color: $dark-blue;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sub-page {
  padding-top: 80px;
}

.bullet-red {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #E74C3C;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-blue {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #3498DB;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-yellow {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #F1C40F;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-green {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #1ABC9C;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.network-subpage {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -999;
  opacity: 0.5;
  img {    
    height: auto;
    display: block;
  }
}

.warning {
  color: #E74C3C;
}

// Menu

#menu {
  margin-top: 40px;
  font-weight: 400;
}

#menu-container {

  display: flex;

  img {
    width: calc-width-columns(4);
    align-self: center;
    height: auto;
  }

  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-left: 20px;
    }
  }

  a {    
    color: $dark-blue;
    letter-spacing: 0.1rem;
  }
}

// Intro

#intro {
  margin-top: 40px;
  #network {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -999;
    opacity: 0.5;
    img {    
      width: 83%;
      height: auto;
      display: block;
    }
  }
}

#intro-container {
  display: flex;
  position: relative;
  img {
    width: calc-width-columns(7);
    align-self: center;    
  }

  #intro-desc {
    .button {
      color: $dark-blue;
      border: 2px solid $dark-blue;
    }
  }
}

// Venue
#venue {

}

#venue-container {
  display: flex;
  position: relative;
}


#venue-desc {
  width: calc-width-columns(7);

  .button {
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}

#venue-menu {
  align-self: center;
  ul {
    padding: 80px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
  }
}

// Registration begins
#registration {
  line-height: auto;
  .button {
      color: $dark-blue;
      border: 2px solid $dark-blue;
    }
}

#registration-container {
  position: relative;
}

#registration-fee {
  display: flex;
  justify-content: space-between;
}

.registration-box {
  width: 30%;
  text-transform: uppercase;

  .box-title {
    text-align: center;
    color: #fff;
    padding: 32px;
    font-weight: 400;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .box-fee {
    font-size: 2rem;
    font-weight: 300;
    color: #9B9B9B;
    background-color: #EEEEEE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 53px;
    padding-right: 53px;    
    padding-bottom: 24px;
    text-align: center;

    div {
      padding-top: 10px;
    }

    .pre {
      display: flex;
      div {
        width: 50%;
      }
    }

    .late {
      display: flex;
      div {
        width: 50%;
      }
    }
  }
}

.box-blue {
  background-color: #3498DB;
}

.box-green {
  background-color: #1ABC9C;
}

.box-purple {
  background-color: #9B59B6;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}