@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i');

@mixin addBorder($stroke_size) {
  //border: $stroke_size solid #ccc;
  box-sizing: content-box;
}

@function calc-width-columns($count) {
  @return $column-width * $count+$gutter-width * ($count - 1); //360+100
}

$document-width: 960px;
$column-width: 60px;
$gutter-width: 20px;

$container-background : #fff;
$dark-blue: #003468;
$font-color: #444;

// Reset the padding and margins.
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-weight: 300;
  color: $font-color;
}

body {
  font-family: 'Lato', sans-serif;
}

footer {
  text-align: center;
  padding: 40px;
  clear: both;
  margin-top: 40px;
}

a {
  color: $dark-blue;
  font-weight: 400;
}

p {
  line-height: 1.7rem;
}

.container {
  margin: 0 auto;
  width: $document-width;
}

.button {
  font-family: inherit;
  font-weight: 400;
  display: table;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 13px 20px;
  border-radius: 100px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.title {
  font-size: 5rem;
  color: $dark-blue;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sub-page {
  padding-top: 80px;
}

.bullet-red {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #E74C3C;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-blue {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #3498DB;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-yellow {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #F1C40F;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.bullet-green {
  &:before {
    content:' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #1ABC9C;
    border-radius: 100px;
    margin-right: 1rem;
  }
}

.network-subpage {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -999;
  opacity: 0.5;
  img {    
    height: auto;
    display: block;
  }
}

.warning {
  color: #E74C3C;
}

// Top
#top {
  height: 1px;
}
// Menu

#menu {
  font-weight: 400;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 9px 0px;
}

#background {
  position: fixed;
  opacity: 0.1;
}

#menu-container {

  display: flex;

  img {
    width: calc-width-columns(3.5);
    align-self: center;
    height: auto;
  }

  ul {
    width: calc-width-columns(8.5);
    list-style: none;
    display: inline-block;
    text-align: right;
    li {
      display: inline-block;      
    }
  }

  a {    
    color: $dark-blue;
    letter-spacing: 0.1rem;
    padding: 10px;
    border-radius: 31px;
    border: 1px solid #ffffff;

    &:hover {
      text-decoration: none;
      border-radius: 31px;
      border: 1px solid $dark-blue;
    }
  }
}

// Intro

#intro {
  margin-top: 100px;
  #network {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -999;
    opacity: 0.5;
    img {    
      width: 83%;
      height: auto;
      display: block;
      margin-top: -30px;
    }
  }
}

#intro-container {
  display: flex;
  position: relative;
  img {
    width: calc-width-columns(7);
    align-self: center;    
  }

  #intro-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .button {
      color: $dark-blue;
      border: 2px solid $dark-blue;
    }
  }
}

// Venue
#venue {

}

#venue-container {
  display: flex;
  position: relative;
}


#venue-desc {
  width: calc-width-columns(7);

  .button {
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}

#venue-menu {
  align-self: center;
  ul {
    padding: 80px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
  }
}

.venue-title {
  /* BY PLANE Princeton i: */
  color:$dark-blue;
  font-weight: 400;
  letter-spacing: 0.59px;
  line-height: 27px;
  text-transform: uppercase;
}

#venue-main {
  img {
    opacity: 0.9;
  }
}

// Registration begins
#registration {
  line-height: auto;
  .button {
      color: $dark-blue;
      border: 2px solid $dark-blue;
    }
}

#registration-container {
  position: relative;
}

#registration-fee {
  display: flex;
  justify-content: space-between;
}

.registration-box {
  width: 30%;
  text-transform: uppercase;

  .box-title {
    text-align: center;
    color: #fff;
    padding: 32px;
    font-weight: 400;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .box-fee {
    font-size: 2rem;
    font-weight: 300;
    color: #9B9B9B;
    background-color: #EEEEEE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 53px;
    padding-right: 53px;    
    padding-bottom: 24px;
    text-align: center;

    div {
      padding-top: 10px;
    }

    .pre {
      display: flex;
      div {
        width: 50%;
      }
    }

    .late {
      display: flex;
      div {
        width: 50%;
      }
    }
  }
}

.box-blue {
  background-color: #3498DB;
}

.box-green {
  background-color: #1ABC9C;
}

.box-purple {
  background-color: #9B59B6;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

// Speakers begins

#speakers {
  
}

#speakers-container {
  display: flex;
  position: relative;
}


#speakers-desc {
  width: 100%;
  line-height: normal;

  .speaker {
    padding: 22px;
    border-bottom: 1px solid #dadada;

    .name a {
      color: #E74C3C;
      font-size: 2.2rem;
      margin-bottom: 11px;
      font-weight: 300;
    }

    .info {
      font-size: 1.3rem;
      color: #7D7D7D;     
    }
  }
}

// Tutorial begins

#tutorials {
  
}

#tutorials-container {
  display: flex;
  position: relative;
}


#tutorials-desc {
  width: 100%;
  line-height: normal;

  .speaker {
    padding: 22px;
    border-bottom: 1px solid #dadada;

    .name a {
      color: #E74C3C;
      font-size: 2.2rem;
      margin-bottom: 11px;
      font-weight: 300;
    }

    .info {
      text-transform: uppercase;
      font-size: 1rem;
      color: #7D7D7D;      
    }
  }
}

// Sponsor begins
#sponsors-container {
  position: relative;
}

#sponsors-desc {
  .sponsor {
    display: flex;

    .sponsor-image {
      width: calc-width-columns(4);
      height: auto;
    }

    .sponsor-info {
      width: calc-width-columns(8);
      padding-left: $gutter-width;
    }
  }
}