@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i");
html {
  font-size: 16px;
  font-weight: 300;
}

body {
  font-family: 'Rubik', sans-serif;
}

.cover-shadow {
  background-color: transparent;
}

#main-content {
  width: auto;
}

@media screen and (min-width: 640px) {
  #main-content {
    width: calc(100% * 1 / 3.001);
    max-width: 300px;
  }
}

.info-container {
  color: #fff;
  border-radius: 10px;
  box-shadow: 1px 7px 17px 0px rgba(0, 0, 0, 0.51);
}

.info-container .logo {
  padding: 5%;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.info-container .date {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  border-radius: 10px 10px 0px 0px;
}

.info-container .date #month {
  box-sizing: content-box;
}

.info-container .date #day {
  box-sizing: content-box;
}

.info-container .date #title {
  box-sizing: content-box;
  font-style: italic;
  padding-right: 5%;
}

.info-container .date #year {
  box-sizing: content-box;
  line-height: 100%;
}

.countdown-container {
  background-color: #fff;
  color: red;
}

.credit {
  color: #fff;
}

.credit a {
  color: #fff;
  opacity: 0.5;
  font-size: 0.6rem;
}

.credit a:hover {
  color: #FFF;
  opacity: 1;
}
