@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

body {
  font-family: 'Lato', sans-serif;
}

footer {
  text-align: center;
  padding: 40px;
}

a {
  color: #003468;
  font-weight: 400;
}

p {
  line-height: 1.7rem;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.button {
  font-family: inherit;
  font-weight: 400;
  display: table;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 13px 20px;
  border-radius: 100px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.title {
  font-size: 5rem;
  color: #003468;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sub-page {
  padding-top: 80px;
}

.bullet-red:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #E74C3C;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-blue:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #3498DB;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-yellow:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #F1C40F;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-green:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #1ABC9C;
  border-radius: 100px;
  margin-right: 1rem;
}

.network-subpage {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -999;
  opacity: 0.5;
}

.network-subpage img {
  height: auto;
  display: block;
}

.warning {
  color: #E74C3C;
}

#top {
  height: 1px;
}

#menu {
  font-weight: 400;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 9px 0px;
}

#menu-container {
  display: flex;
}

#menu-container img {
  width: 300px;
  align-self: center;
  height: auto;
}

#menu-container ul {
  width: 620px;
  list-style: none;
  display: inline-block;
  text-align: right;
}

#menu-container ul li {
  display: inline-block;
}

#menu-container a {
  color: #003468;
  letter-spacing: 0.1rem;
  padding: 10px;
  border-radius: 31px;
  border: 1px solid #ffffff;
}

#menu-container a:hover {
  text-decoration: none;
  border-radius: 31px;
  border: 1px solid #003468;
}

#intro {
  margin-top: 100px;
}

#intro #network {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -999;
  opacity: 0.5;
}

#intro #network img {
  width: 83%;
  height: auto;
  display: block;
}

#intro-container {
  display: flex;
  position: relative;
}

#intro-container img {
  width: 540px;
  align-self: center;
}

#intro-container #intro-desc .button {
  color: #003468;
  border: 2px solid #003468;
}

#venue-container {
  display: flex;
  position: relative;
}

#venue-desc {
  width: 540px;
}

#venue-desc .button {
  color: #003468;
  border: 2px solid #003468;
}

#venue-menu {
  align-self: center;
}

#venue-menu ul {
  padding: 80px;
  list-style: none;
}

#venue-menu ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#registration {
  line-height: auto;
}

#registration .button {
  color: #003468;
  border: 2px solid #003468;
}

#registration-container {
  position: relative;
}

#registration-fee {
  display: flex;
  justify-content: space-between;
}

.registration-box {
  width: 30%;
  text-transform: uppercase;
}

.registration-box .box-title {
  text-align: center;
  color: #fff;
  padding: 32px;
  font-weight: 400;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.registration-box .box-fee {
  font-size: 2rem;
  font-weight: 300;
  color: #9B9B9B;
  background-color: #EEEEEE;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 24px;
  text-align: center;
}

.registration-box .box-fee div {
  padding-top: 10px;
}

.registration-box .box-fee .pre {
  display: flex;
}

.registration-box .box-fee .pre div {
  width: 50%;
}

.registration-box .box-fee .late {
  display: flex;
}

.registration-box .box-fee .late div {
  width: 50%;
}

.box-blue {
  background-color: #3498DB;
}

.box-green {
  background-color: #1ABC9C;
}

.box-purple {
  background-color: #9B59B6;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#speakers-container {
  display: flex;
  position: relative;
}

#speakers-desc {
  width: 100%;
  line-height: normal;
}

#speakers-desc .speaker {
  padding: 22px;
  border-bottom: 1px solid #dadada;
}

#speakers-desc .speaker .name {
  color: #E74C3C;
  font-size: 2.2rem;
  margin-bottom: 11px;
}

#speakers-desc .speaker .info {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7D7D7D;
}

#tutorials-container {
  display: flex;
  position: relative;
}

#tutorials-desc {
  width: 100%;
  line-height: normal;
}

#tutorials-desc .speaker {
  padding: 22px;
  border-bottom: 1px solid #dadada;
}

#tutorials-desc .speaker .name {
  color: #E74C3C;
  font-size: 2.2rem;
  margin-bottom: 11px;
}

#tutorials-desc .speaker .info {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7D7D7D;
}
