@import url("https://fonts.googleapis.com/css?family=Lato:700,700i,400,400i");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-weight: 400;
  color: #444;
}

body {
  font-family: 'Lato', sans-serif;
  background: url("../images/bg_mini_2.jpg") bottom left no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  text-align: center;
  padding: 40px;
  clear: both;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.44);
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #003468;
  font-weight: 700;
}

p {
  line-height: 1.7rem;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  display: table;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 13px 20px;
  border-radius: 100px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.title {
  font-size: 4rem;
  color: #003468;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sub-page {
  margin-top: 80px;
  background-image: url("../images/network_subpage.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
}

.bullet-red:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #E74C3C;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-blue:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #3498DB;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-yellow:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #F1C40F;
  border-radius: 100px;
  margin-right: 1rem;
}

.bullet-green:before {
  content: ' ';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #1ABC9C;
  border-radius: 100px;
  margin-right: 1rem;
}

.network-subpage {
  display: none;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -999;
  opacity: 0.5;
}

.network-subpage img {
  height: auto;
  display: block;
}

.warning {
  color: #E74C3C;
}

#top {
  height: 1px;
}

#menu {
  font-weight: 700;
  position: fixed;
  z-index: 999;
  top: 0;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

#background {
  position: fixed;
  z-index: -99999;
  opacity: 0;
}

#menu-container {
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  /* box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66); */
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
}

#menu-container img {
  width: 260px;
  align-self: center;
  height: auto;
}

#menu-container ul {
  width: 660px;
  list-style: none;
  display: inline-block;
  text-align: right;
}

#menu-container ul li {
  display: inline-block;
}

#menu-container a {
  color: #003468;
  letter-spacing: 0.1rem;
  padding: 10px;
  border-radius: 31px;
  border: 1px solid #ffffff;
}

#menu-container a:hover {
  text-decoration: none;
  border-radius: 31px;
  border: 1px solid #003468;
}

#intro {
  margin-top: 130px;
}

#intro-container {
  background-image: url("../images/network.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 78%;
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
}

#intro-container img {
  width: 540px;
  align-self: center;
  padding: 20px;
}

#intro-container #intro-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

#intro-container #intro-desc .button {
  color: #003468;
  border: 2px solid #003468;
}

#venue-container {
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
}

#venue-desc {
  width: 540px;
  padding: 40px;
}

#venue-desc .button {
  color: #003468;
  border: 2px solid #003468;
}

#venue-menu {
  align-self: center;
}

#venue-menu ul {
  padding: 80px;
  list-style: none;
}

#venue-menu ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#venue-menu ul li a {
  width: 200px;
  display: block;
}

.venue-title {
  /* BY PLANE Princeton i: */
  color: #003468;
  font-weight: 700;
  letter-spacing: 0.59px;
  line-height: 27px;
  text-transform: uppercase;
}

#venue-main img {
  opacity: 0.9;
}

#registration {
  line-height: auto;
}

#registration .button {
  color: #003468;
  border: 2px solid #003468;
}

#registration-container {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  padding: 40px;
  box-sizing: border-box;
}

#registration-fee {
  display: flex;
  justify-content: space-between;
}

.registration-box {
  width: 30%;
  text-transform: uppercase;
}

.registration-box .box-title {
  text-align: center;
  color: #fff;
  padding: 32px;
  font-weight: 700;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.registration-box .box-fee {
  font-size: 2rem;
  font-weight: 400;
  color: #9B9B9B;
  background-color: #EEEEEE;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 24px;
  text-align: center;
}

.registration-box .box-fee div {
  padding-top: 10px;
}

.registration-box .box-fee .pre {
  display: flex;
}

.registration-box .box-fee .pre div {
  width: 50%;
}

.registration-box .box-fee .late {
  display: flex;
}

.registration-box .box-fee .late div {
  width: 50%;
}

.box-blue {
  background-color: #3498DB;
}

.box-green {
  background-color: #1ABC9C;
}

.box-purple {
  background-color: #9B59B6;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#speakers-container {
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  padding: 40px;
  box-sizing: border-box;
}

#speakers-desc {
  width: 100%;
  line-height: normal;
}

#speakers-desc .speaker {
  padding: 22px;
  border-bottom: 1px solid #dadada;
}

#speakers-desc .speaker .name a {
  color: #E74C3C;
  font-size: 2.2rem;
  margin-bottom: 11px;
  font-weight: 400;
}

#speakers-desc .speaker .info {
  font-size: 1.3rem;
  color: #7D7D7D;
}

#tutorials-container {
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  padding: 40px;
  box-sizing: border-box;
}

#tutorials-desc {
  width: 100%;
  line-height: normal;
}

#tutorials-desc .speaker {
  padding: 22px;
  border-bottom: 1px solid #dadada;
}

#tutorials-desc .speaker .name a {
  color: #E74C3C;
  font-size: 2.2rem;
  margin-bottom: 11px;
  font-weight: 400;
}

#tutorials-desc .speaker .info {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7D7D7D;
}

#sponsors-container {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 18px 82px -3px rgba(0, 0, 0, 0.66);
  padding: 40px;
  box-sizing: border-box;
}

#sponsors-desc .sponsor {
  display: flex;
}

#sponsors-desc .sponsor .sponsor-image {
  width: 300px;
  height: auto;
}

#sponsors-desc .sponsor .sponsor-info {
  width: 620px;
  padding-left: 20px;
}
